@use './variables.module' as *;

@mixin radius_common($radius: 10px) {
  border-radius: $radius;
}

@mixin icon_custom($color: $white_color, $w: 16px, $h: 16px) {
  color: $color;
  width: $w;
  height: $h;
}

@mixin flex_custom($justify, $align, $gap: 10px, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-direction: $direction;
}

@mixin resize_img($w, $h) {
  width: $w;
  height: $h;
}
@mixin button_default($w: 161px, $h: 48px) {
  width: $w;
  height: $h;
  border: 1px solid $text_color;
  border-radius: 58px;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;
}
